
*{
  /* border: 1px solid black !important; */
  box-sizing: border-box;
}

/*  VARIABLES  */

:root{

  --color-yellow-main: #FFF643;
  --color-yellow-js: #F7DF1E;
  --color-yellow-light: #FFF178;
  --color-yellow-soft: #FAF1C1;
  --color-yellow-darker: #DEC81A;

  --color-black-oil: #0C0C0C;
  --color-black-obsidian: #0B1215;
  --color-black-night: #0B1215;

  --color-gray-light: #F9F9F9;
  --color-gray-light2: #E7E7E7;
  --color-gray-light3: #ECECEC;
  --color-gray-yellowed: #DCE0C3;
  --color-gray-brownie: #424834;

  --font-main: 'Source Code Pro';
  --font-alt: 'Oxygen Mono';
  --font-sans-serif: 'Oxygen';

}

html{
  font-family: 'Source Code Pro', 'Oxygen Mono', 'Oxygen', 'sans-serif';
  font-size: 16px;
}

h1{
  font-size: 4rem;
  font-weight: bold;
  margin: .5em 0;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1em 0;
  position: relative;

  &::after{
    content: '';
    width: 10%;
    height: 0.18rem;
    background-color: black;
    position: absolute;
    bottom: -0.375rem;
    left: 0;
  }
}

h3{
  margin: .5em 0;
  font-size: 1.375rem;
  font-weight: bold;
}

h4{
  margin: .5em 0;
  font-size: 1.125rem;
  font-weight: bold;
}

h5{
  margin: .5em 0;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 120%;
}

h6{
  margin: .5em 0;
  font-size: 0.625rem;
  font-weight: bold;
}

p{
  margin: 1em 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 150%;
}

p::selection, h2::selection, h3::selection, h4::selection, span::selection{
  background-color: var(--color-yellow-js);
}

span{
  font-size: 0.75rem;
  color: #424834;
}

a{
  font-size: 0.875rem;
  color: var(--color-yellow-darker);
  font-weight: bold;
  text-decoration: none;
}

a::selection{
  background-color: black;
}

a:hover{
  color: var(--color-yellow-light);
  text-decoration: underline;
}

.wrap{
  padding: 0 10%;
  /* max-width: 1200px; */
}

.key{
  font-family: 'Oxygen Mono';
  font-size: 1rem;
  padding: 0.125rem 0.375rem;
  background-color: black;
  color: white;
  border-radius: 0.3125rem;
}

button.defaultButton{
  background-color: white;
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  border: 0.125rem solid black;
  cursor: pointer;
  transition: all .1s ease-in;
}

button.defaultButton:hover{
  background-color: var(--color-yellow-js);
}

.hidden{
  display: none !important;
}


.label1{
  background-color: #0B1215;
  color: var(--color-yellow-main);
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
  font-weight: 600;
  width: fit-content;
}

.yellowBold{
  color: var(--color-yellow-darker);
  font-weight: bold;
  font-size: 0.875rem;
}


/* HEADER */

header{
  width: 100%;
  background-color: var(--color-yellow-js);
  height: 4.875rem;
}

header .topNav{
  margin: 0 auto;
  padding: 0 10%;
  width: 100%;
  height: inherit;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .topNav .logoDCueto, header .topNav a{
  height: 96%;
}

header .topNav .topRightNav{
  display: flex;
  justify-content: space-evenly;
  gap: 0.9375rem;
}

header .topNav .topRightNav ul{
  display: flex;
  justify-content: space-evenly;
  gap: 0.9375rem;
}

header .topNav .navItem a{
  font-size: 0.875rem;
  padding: 0.625rem;
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}

header .topNav .navItem.active a{
  border: 0.125rem solid black;
}

header .topNav .navItem a:hover{
  background-color: black;
  border: 0.125rem solid black;
  color: white;
}

header .topNav i{
  font-size: 1.25rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all .1s ease-in;
}

header .topNav i:hover{
  color: white;
  font-size: 1.25rem;
}

/*  MODAL NAVIGATOR  */

.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  background-color: rgba(12, 12, 12, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.modalNavigator{
  width: 60vw;
  height: 50vh;
  background-color: rgba(12, 12, 12, .8);
  backdrop-filter: blur(10px);
  border-radius: 0.625rem;
  color: white;
  z-index: 99999;
}

.modalNavigator .modalNavContent{
  overflow-y: scroll;
  height: 80%;
}

/* Search Input */

.modalNavigator #modalSearch{
  width: 100%;
  border: none;
  background-color: rgba(12, 12, 12, .3);
  padding: 1.25rem 1.25rem;
  color: var(--color-gray-light3);
  font-size: 0.9375rem;
}

.modalNavigator #modalSearch::placeholder{
  color: var(--color-gray-light3);
}

.modalNavigator #modalSearch:focus{
  border: 0.0625rem solid black;
}

/* Nav Items */

.modalNavigator .modalNavItem{
  width: 100%;
  padding: 0.9375rem 0.625rem;
  cursor: pointer;

  &:hover{
    background-color: rgba(100, 100, 100, .3);
  }

}

.modalNavigator h5{
  margin-left: 0.625rem;
}


/*  HERO  */

.hero{
  padding: 3.125rem 10%;
  background-color: var(--color-yellow-main);
  display: flex;
  justify-content: space-between;
}

.hero .dinamicRoleText{
  max-width: 26.25rem;
  background-color: black;
  color: white;
  margin: 1.25rem 0;
  padding: 0.625rem 1.25rem;
}

.hero .dinamicRoleText p{
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

#dinamicLabel {
  font-weight: bold;
  color: var(--color-yellow-js);
  font-size: 1.5rem;
}

.cursor {
  display: inline-block;
  background-color: #b0ff95;
  animation: blinker 800ms infinite;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
	0% { background-color: var(--color-yellow-js); }
	50% { background-color: transparent; }
	100% { background-color: var(--color-yellow-js); }
}

.hero .commandInfo p{
  font-weight: bold;
  font-size: 1.25rem;
}

.hero .commandInfo{
  cursor: pointer;
  padding: 0.0625rem 0.625rem;
  border-radius: 0.3125rem;
  transition: all .3s ease;

  &:hover{
    background-color: var(--color-yellow-soft);
  }
}

.hero .secondColumn{
  flex-grow: 1;
}

.hero figure{
  max-width: 18.75rem;
  margin-left: auto;
}

.hero figure img{
  width: 100%;
  border-radius: 50%;
}




/*  LATESTS ARTICLES  */

.latestsArticles{
  padding-top: 1.875rem ;
  padding-bottom: 5.625rem;
}

.latestsArticles .articlesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3%;
}

.latestsArticles .blogPost{
  max-width: 45%;
  margin: 0.625rem 0;
  padding: 1.25rem;
  cursor: pointer;
  transition: all .3s ease;
}

.latestsArticles .blogPost:hover{
  background-color: var(--color-gray-light);
}

.latestsArticles .blogPost h4{
  transition: all .3s ease;
}

.latestsArticles .blogPost:hover h4{
  color: var(--color-yellow-darker);
}

.latestsArticles button.loadMoreBtn{
  display: block;
  margin: 1.25rem auto 0 auto;
}



/*  ABOUT ME  */

.aboutMe{
  background-color: var(--color-gray-light3);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}


/*  PROJECTS  */

.projects{
  background-color: var(--color-gray-light3);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.projects .projectsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.projects .projectCard{
  width: auto;
  margin: 0.625rem 0;
  min-width: 300px;
  height: 12.5rem;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
}

.projectCard .projectDetails{
  color: white;
  position: absolute;
  z-index: 20;
  transform: translateX(100%);
  transition: transform .6s ease;
  height: 100%;
  width: 100%;
  background-color: var(--color-black-oil);
  padding: 1.25rem;
}

.projects .projectCard:hover .projectDetails{
  transform: translate(0%);
}

.projects .projectCard .projectCardTransition{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: var(--color-yellow-main);
  transform: translateX(100%);
  transition: all .4s ease-out;
}

.projects .projectCard:hover .projectCardTransition{
  transform: translate(0%);
}


.projects .projectCard h3{
  position: absolute;
  z-index: 2;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--color-yellow-js);
  background-color: rgba(12, 12, 12, .7);
  backdrop-filter: blur(2px);
}

.projects .projectCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}






/*  WORK EXPERIENCE  */

.workExperience{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.experienceContainer{
  width: 100%;
  height: auto;
  padding: 1.875rem 1.875rem;
  background-color: var(--color-black-oil);
  color: white;

}

.workExperience .experienceContainer .experienceNav{
  display: flex;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}

.tabRounded{
  font-weight: bold;
  font-size: 0.875rem;
  color: white;
  padding: 0.4375rem 1rem;
  border: 0.125rem solid white;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: all .2s ease;
}

.tabRounded:hover{
  color: black;
  border: 0.125rem solid black;
  background-color: white;
}

.tabRounded.active{
  background-color: var(--color-yellow-main);
  border: 0.125rem solid black;
  color: black;
}
.experienceContent .experienceRoles{
  color: var(--color-yellow-main);
  margin: 1.875rem 0;
}

.experienceContent .experienceRoles span{
  color: var(--color-yellow-light);
}

.experienceContent .experienceRole{
  position: relative;
  margin-left: 1.875rem;
}

.experienceContent .experienceRole::before{
  content: '';
  position: absolute;
  top: -10%;
  left: -1.25rem;
  height: 130%;
  width: 0.125rem;
  background-color: var(--color-yellow-main);
}

.experienceContent .experienceRole::after{
  content: '';
  position: absolute;
  top: 0.625rem;
  left: -1.5rem;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-yellow-main);
  border-radius: 50%;

}



/*  EDUCATION  */

.education{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.education .educationItem{
  display: flex;
  justify-content: space-between;
}

.educationItem .eduItemData{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.educationItem .eduItemContent{
  max-width: 80%;
  position: relative;
}

.educationItem .eduItemContent::before{
  content: '';
  position: absolute;
  top: 0;
  left: -1.75rem;
  width: 0.125rem;
  height: 100%;
  background-color: var(--color-black-night);
}


/* .educationItem:first-of-type .eduItemContent::before{

} */

.educationItem:last-of-type .eduItemContent::before{
  height: 40%;
}


.educationItem .eduItemContent::after{
  content: '';
  position: absolute;
  top: 0.625rem;
  left: -2rem;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-black-night);
  border-radius: 50%;
}

.educationItem .eduItemContent p{
  line-height: 130%;
}


/*   SOCIAL BUTTONS   */

.socialButtons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4.375rem 4.375rem 4.375rem;
  gap: 1.5625rem;
  background-color: var(--color-gray-light3);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.socialButton{
  background-color: blueviolet;
  border: none;
  padding: 0;
  color: white;
  text-align: left;
  position: relative;
  z-index: 4;
  background-color: transparent;
  cursor: pointer;
}

.socialButton:hover{
  background-color: transparent;
}

.socialButton .socialButtonContent{
  display: block;
  width: 100%;
  height: 100%;
  background-color: blue;
  transition: transform .2s ease;
  padding: 0.9375rem;
}

.socialButton .socialButtonContent:hover{
  transform: translate(0.625rem, 0.625rem);
  text-decoration: none;
}

.socialButton::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  z-index: -2;
}

.socialButton.linkedin{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.socialButton.linkedin .socialButtonContent{
  background-color: #0B65C2;
}

.socialButton.web{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.socialButton.web .socialButtonContent{
  background-color: #5B5D88;
}

.socialButton.github{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.socialButton.github .socialButtonContent{
  background-color: #222429;
}

.socialButton.x{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.socialButton.x .socialButtonContent{
  background-color: #0C0C0C;
}

.socialButton span{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}


/*   FORM CONTACT   */







/*  FOOTER  */


footer{
  text-align: center;
  padding: 1.875rem 10%;
  width: 100%;
  background-color: var(--color-yellow-soft);
}

footer p{
  font-weight: bold;
  font-size: 0.875rem;
  margin: 1.25rem 0;
}

@media screen and ( width <= 850px ) {
  .articlesContainer{
    flex-direction: column;
  }

  .latestsArticles .blogPost{
    max-width: 100%;
  }

  .education .educationItem{
    flex-direction: column-reverse;
    padding: 1.25rem 2.1875rem;
  }

  .educationItem .eduItemContent::before{
    height: 170%;
  }

}

@media screen and ( width <= 750px ) {

  .heroPicture{
    display: none;
  }

}


@media screen and ( width <= 500px ) {

  header .topNav .topRightNav ul{
    display: none !important;
  }

}


/* ---- LARGER SCREENS ---- */

@media screen and ( width >= 1400px ){
  html{
    font-size: 20px;
  }
}

@media screen and ( width >= 1800px ){
  html{
    font-size: 28px;
  }
}

@media screen and ( width >= 2560px ){
  html{
    font-size: 36px;
  }
}

@media screen and ( width >= 3840px ){
  html{
    font-size: 56px;
  }
}

/* @media screen and ( width >=  ) */