
*{
  /* border: 1px solid black !important; */
  box-sizing: border-box;
}

/*  VARIABLES  */

:root{

  /*  Colors  */
  --color-yellow-main: #FFF643;
  --color-yellow-js: #F7DF1E;
  --color-yellow-light: #FFF178;
  --color-yellow-soft: #FAF1C1;
  --color-yellow-darker: #DEC81A;

  --color-black-oil: #0C0C0C;
  --color-black-obsidian: #0B1215;
  --color-black-night: #0B1215;

  --color-gray-light: #F9F9F9;
  --color-gray-light2: #E7E7E7;
  --color-gray-light3: #ECECEC;
  --color-gray-yellowed: #DCE0C3;
  --color-gray-brownie: #424834;

  --color-gray-dark: #1D1E23;

  /*  Fonts  */
  --font-main: 'Source Code Pro';
  --font-alt: 'Oxygen Mono';
  --font-sans-serif: 'Oxygen';


  /*  Element Variables  */

  --color-h2-underline: black;
  --color-text-selection: var(--color-yellow-js);
  --color-span-default: var(--color-gray-brownie);
  --color-anchor-default: var(--color-yellow-darker);
  --color-anchor-selection: black;
  --color-anchor-hover: var(--color-yellow-light);
  --color-text__default: black;
  --color-text--bold-1: var(--color-yellow-darker);

  /*  Key Component  */
  --color-key-background: black;
  --color-key-text: white;

  /* Default Button Component */
  --color-background__default-button--default: white;
  --color-text__default-button--default: black;
  --color-border__default-button--default: black;
  --color-background__default-button--hover: var(--color-yellow-js);
  --color-text__default-button--hover: black;
  --color-border__default-button--hover: black;

  /* Label 1 Component */
  --color-background__label-1--default: #0B1215;
  --color-text__label-1--default: var(--color-yellow-main);

  /* Tabs Component */

  --color-text__tab-rounded: white;
  --color-border__tab-rounded: white;
  --color-text__tab-rounded--hover: black;
  --color-border__tab-rounded--hover: black;
  --color-background__tab-rounded--hover: white;
  --color-background__tab-rounded--active: var(--color-yellow-main);
  --color-border__tab-rounded--active: black;
  --color-text__tab-rounded-active: black;


  /*  Header Colors  */

  --color-background__header: var(--color-yellow-js);

  --color-text__nav-item__anchor--active: black;
  --color-text__nav-item__anchor--default: black;
  --color-border__nav-item__anchor--hover: black;
  --color-background__nav-item__anchor--hover: black;
  --color-text__nav-item__anchor--hover: white;

  --color-text__nav-item__icon--default: black;
  --color-text__nav-item__icon--hover: white;

  /*  Modal Colors  */
  
  --color-background__modal--outside-transparency: rgba(12, 12, 12, .3);
  --color-background__modal--inner-transparency: rgba(12, 12, 12, .8);
  --color-text__modal-navigator--default: white;
  --color-text__modal-navigator__search-input: var(--color-gray-light3);
  --color-text__modal-navigator__search-input--placeholder: var(--color-gray-light3);
  --color-background__modal-navigator__search-input: rgba(12, 12, 12, .3);
  --color-border__modal-navigator__search-input--focus: black;
  --color-background__modal-navigator__modal-nav-item--hover: rgba(100, 100, 100, .3);

  /*  Hero Colors  */

  --color-background__hero: var(--color-yellow-main);
  --color-text__hero: black;
  --color-background__dinamic-role-text: black;
  --color-text__dinamic-role-text: white;
  --color-text__dinamic-label: var(--color-yellow-js);
  --color-background__dinamic-role-text__cursor: #b0ff95;

  --color-background__dinamic-role-text__cursor--keyframe1: var(--color-yellow-js);
  --color-background__dinamic-role-text__cursor--keyframe2: transparent;
  --color-background__dinamic-role-text__cursor--keyframe3: var(--color-yellow-js);

  --color-background__command-info--hover: var(--color-yellow-soft);


  /*  Latests Articles Colors  */

  --color-background__latests-articles: white;
  --color-background__blog-post--hover: var(--color-gray-light);
  --color-text__blog-post--hover__h4: var(--color-yellow-darker);


  /*  About Me / Projects Colors  */

  --color-background__about-me: var(--color-gray-light3);
  --color-background__projects: var(--color-gray-light3);
  --color-text__project-details: white;
  --color-background__project-details: var(--color-black-oil);
  --color-background__project-card--transition: var(--color-yellow-main);
  --color-text__project-card__h3: var(--color-yellow-js);
  --color-background__project-card__h3: rgba(12, 12, 12, .7);


  /*  Experience Colors  */

  --color-background__experience-container: var(--color-black-oil);
  --color-background__experience: white;
  --color-border__experience-container: none;
  --color-text__experience-container: white;
  --color-text__experience__experience-roles: var(--color-yellow-main);
  --color-text__experience__experience-roles__span: var(--color-yellow-light);
  --color-background__experience-role__before: var(--color-yellow-main);
  --color-background__experience-role__after: var(--color-yellow-main);


  /*  Education Colors  */

  --color-background__education: white;
  --color-background__education-item-content__after: var(--color-black-night);
  --color-background__education-item-content__before: var(--color-black-night);


  /*  Social Buttons  */

  --color-background__social-buttons: var(--color-gray-light3);
  --color-background__social-button: blueviolet;
  --color-text__social-button: white;
  --color-background__social-button: transparent;
  --color-background__social-button--hover: transparent;
  --color-background__social-button-content: blue;
  --color-background__social-button--shadow: black;
  --color-background__social-button--linkedin: #0B65C2;
  --color-background__social-button--web: #5B5D88;
  --color-background__social-button--github: #222429;
  --color-background__social-button--x: #0C0C0C;
  --color-text__social-button__span: white;


  /*  Footer  */

  --color-background__footer: var(--color-yellow-soft);
  --color-text__footer: black;
}

/* -----------  DARK MODE ------------ */

:root.dark-theme{
  /* --main-brand-color: #FFF643;
  --secondary-brand-color: #F7DF1E; */

  /*  Element Variables  */

  --color-h2-underline: white;
  --color-text-selection: var(--color-yellow-js);
  --color-span-default: var(--color-gray-light3);
  --color-anchor-default: var(--color-yellow-darker);
  --color-anchor-selection: black;
  --color-anchor-hover: var(--color-yellow-light);
  --color-text__default: white;
  --color-text--bold-1: var(--color-yellow-js);

  /*  Key Component  */
  --color-key-background: black;
  --color-key-text: white;

  /* Default Button Component */
  --color-background__default-button--default: black;
  --color-text__default-button--default: white;
  --color-border__default-button--default: white;
  --color-background__default-button--hover: var(--color-yellow-js);
  --color-text__default-button--hover: black;
  --color-border__default-button--hover: black;

  /* Label 1 Component */
  --color-background__label-1--default: var(--color-yellow-main);
  --color-text__label-1--default: var(--color-black-oil);

  /* Tabs Component */

  --color-text__tab-rounded: white;
  --color-border__tab-rounded: white;
  --color-text__tab-rounded--hover: black;
  --color-border__tab-rounded--hover: black;
  --color-background__tab-rounded--hover: white;
  --color-background__tab-rounded--active: var(--color-yellow-main);
  --color-border__tab-rounded--active: black;
  --color-text__tab-rounded-active: black;


  /*  Header Colors  */

  --color-background__header: var(--color-yellow-js);

  --color-text__nav-item__anchor--active: black;
  --color-text__nav-item__anchor--default: black;
  --color-border__nav-item__anchor--hover: black;
  --color-background__nav-item__anchor--hover: black;
  --color-text__nav-item__anchor--hover: white;

  --color-text__nav-item__icon--default: black;
  --color-text__nav-item__icon--hover: white;

  /*  Modal Colors  */
  
  --color-background__modal--outside-transparency: rgba(12, 12, 12, .3);
  --color-background__modal--inner-transparency: rgba(12, 12, 12, .8);
  --color-text__modal-navigator--default: white;
  --color-text__modal-navigator__search-input: var(--color-gray-light3);
  --color-text__modal-navigator__search-input--placeholder: var(--color-gray-light3);
  --color-background__modal-navigator__search-input: rgba(12, 12, 12, .3);
  --color-border__modal-navigator__search-input--focus: black;
  --color-background__modal-navigator__modal-nav-item--hover: rgba(100, 100, 100, .3);

  /*  Hero Colors  */

  --color-background__hero: var(--color-yellow-main);
  --color-text__hero: black;
  --color-background__dinamic-role-text: black;
  --color-text__dinamic-role-text: white;
  --color-text__dinamic-label: var(--color-yellow-js);
  --color-background__dinamic-role-text__cursor: #b0ff95;

  --color-background__dinamic-role-text__cursor--keyframe1: var(--color-yellow-js);
  --color-background__dinamic-role-text__cursor--keyframe2: transparent;
  --color-background__dinamic-role-text__cursor--keyframe3: var(--color-yellow-js);

  --color-background__command-info--hover: #F4DC1B;


  /*  Latests Articles Colors  */

  --color-background__latests-articles: var(--color-black-obsidian);
  --color-background__blog-post--hover: var(--color-gray-dark);
  --color-text__blog-post--hover__h4: var(--color-yellow-darker);


  /*  About Me / Projects Colors  */

  --color-background__about-me: var(--color-gray-dark);
  --color-background__projects: var(--color-gray-dark);
  --color-text__project-details: white;
  --color-background__project-details: var(--color-black-oil);
  --color-background__project-card--transition: var(--color-yellow-main);
  --color-text__project-card__h3: var(--color-yellow-js);
  --color-background__project-card__h3: rgba(12, 12, 12, .7);


  /*  Experience Colors  */

  --color-background__experience: var(--color-black-oil);
  --color-background__experience-container: var(--color-black-oil);
  --color-border__experience-container: white;
  --color-text__experience-container: white;
  --color-text__experience__experience-roles: var(--color-yellow-main);
  --color-text__experience__experience-roles__span: var(--color-yellow-light);
  --color-background__experience-role__before: var(--color-yellow-main);
  --color-background__experience-role__after: var(--color-yellow-main);


  /*  Education Colors  */

  --color-background__education: var(--color-black-oil);
  --color-background__education-item-content__after: var(--color-yellow-main);
  --color-background__education-item-content__before: var(--color-yellow-main);


  /*  Social Buttons  */

  --color-background__social-buttons: var(--color-gray-dark);
  --color-background__social-button: blueviolet;
  --color-text__social-button: white;
  --color-background__social-button: transparent;
  --color-background__social-button--hover: transparent;
  --color-background__social-button-content: blue;
  --color-background__social-button--shadow: black;
  --color-background__social-button--linkedin: #0B65C2;
  --color-background__social-button--web: #5B5D88;
  --color-background__social-button--github: #222429;
  --color-background__social-button--x: #0C0C0C;
  --color-text__social-button__span: white;


  /*  Footer  */

  --color-background__footer: var(--color-yellow-main);
  --color-text__footer: black;
}

html{
  font-family: 'Source Code Pro', 'Oxygen Mono', 'Oxygen', 'sans-serif';
  font-size: 16px;
  color: var(--color-text__default);
}

h1{
  font-size: 4rem;
  font-weight: bold;
  margin: .5em 0;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1em 0;
  position: relative;

  &::after{
    content: '';
    width: 10%;
    height: 0.18rem;
    background-color: var(--color-h2-underline);
    position: absolute;
    bottom: -0.375rem;
    left: 0;
  }
}

h3{
  margin: .5em 0;
  font-size: 1.375rem;
  font-weight: bold;
}

h4{
  margin: .5em 0;
  font-size: 1.125rem;
  font-weight: bold;
}

h5{
  margin: .5em 0;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 120%;
}

h6{
  margin: .5em 0;
  font-size: 0.625rem;
  font-weight: bold;
}

p{
  margin: 1em 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 150%;
}

p::selection, h2::selection, h3::selection, h4::selection, span::selection{
  background-color: var(--color-text-selection);
}

span{
  font-size: 0.75rem;
  color: var(--color-span-default);
}

a{
  font-size: 0.875rem;
  color: var(--color-anchor-default);
  font-weight: bold;
  text-decoration: none;
}

a::selection{
  background-color: var(--color-anchor-selection);
}

a:hover{
  color: var(--color-anchor-hover);
  text-decoration: underline;
}

.wrap{
  padding: 0 10%;
  /* max-width: 1200px; */
}

.key{
  font-family: 'Oxygen Mono';
  font-size: 1rem;
  padding: 0.125rem 0.375rem;
  background-color: var(--color-key-background);
  color: var(--color-key-text);
  border-radius: 0.3125rem;
}

button.defaultButton{
  background-color: var(--color-background__default-button--default);
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  border: 0.125rem solid var(--color-border__default-button--default);
  color: var(--color-text__default-button--default);
  cursor: pointer;
  transition: all .1s ease-in;
}

button.defaultButton:hover{
  background-color: var(--color-background__default-button--hover);
  color: var(--color-text__default-button--hover);
  border: 0.125rem solid var(--color-border__default-button--hover);
}

.hidden{
  display: none !important;
}


.label1{
  background-color: var(--color-background__label-1--default);
  color: var(--color-text__label-1--default);
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
  font-weight: 600;
  width: fit-content;
}

.yellowBold{
  color: var(--color-text--bold-1);
  font-weight: bold;
  font-size: 0.875rem;
}

/* Tabs Component */
.tabRounded{
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--color-text__tab-rounded);
  padding: 0.4375rem 1rem;
  border: 0.125rem solid var(--color-border__tab-rounded);
  border-radius: 0.125rem;
  cursor: pointer;
  transition: all .2s ease;
}

.tabRounded:hover{
  color: var(--color-text__tab-rounded--hover);
  border: 0.125rem solid var(--color-border__tab-rounded--hover);
  background-color: var(--color-background__tab-rounded--hover);
}

.tabRounded.active{
  background-color: var(--color-background__tab-rounded--active);
  border: 0.125rem solid var(--color-border__tab-rounded--active);
  color: var(--color-text__tab-rounded-active);
}


/* HEADER */

header{
  width: 100%;
  background-color: var(--color-background__header);
  height: 4.875rem;
}

header .topNav{
  margin: 0 auto;
  padding: 0 10%;
  width: 100%;
  height: inherit;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .topNav .logoDCueto, header .topNav a{
  height: 96%;
}

header .topNav .topRightNav{
  display: flex;
  justify-content: space-evenly;
  gap: 0.9375rem;
}

header .topNav .topRightNav ul{
  display: flex;
  justify-content: space-evenly;
  gap: 0.9375rem;
}

header .topNav .navItem a{
  font-size: 0.875rem;
  padding: 0.625rem;
  text-decoration: none;
  color: var(--color-text__nav-item__anchor--default);
  transition: all .2s ease-in-out;
}

.topNav .navItem.active a{
  border: 0.125rem solid var(--color-text__nav-item__anchor--active);
}

.topNav .navItem a:hover{
  background-color: var(--color-background__nav-item__anchor--hover);
  border: 0.125rem solid var(--color-border__nav-item__anchor--hover);
  color: var(--color-text__nav-item__anchor--hover);
}

header .topNav i{
  font-size: 1.25rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all .1s ease-in;
  color: var(--color-text__nav-item__icon--default);
}

header .topNav i:hover{
  color: var(--color-text__nav-item__icon--hover);
  font-size: 1.25rem;
}

/*  MODAL NAVIGATOR  */

.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 88888;
  background-color: var(--color-background__modal--outside-transparency);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.modalNavigator{
  width: 60vw;
  height: 50vh;
  background-color: var(--color-background__modal--inner-transparency);
  backdrop-filter: blur(10px);
  border-radius: 0.625rem;
  color: var(--color-text__modal-navigator--default);
  z-index: 99999;
}

.modalNavigator .modalNavContent{
  overflow-y: scroll;
  height: 80%;
}

/* Search Input */

.modalNavigator #modalSearch{
  width: 100%;
  border: none;
  background-color: var(--color-background__modal-navigator__search-input);
  padding: 1.25rem 1.25rem;
  color: var(--color-text__modal-navigator__search-input)
  font-size: 0.9375rem;
}

.modalNavigator #modalSearch::placeholder{
  color: var(--color-text__modal-navigator__search-input--placeholder)
}

.modalNavigator #modalSearch:focus{
  border: 0.0625rem solid var(--color-border__modal-navigator__search-input--focus);
}

/* Nav Items */

.modalNavigator .modalNavItem{
  width: 100%;
  padding: 0.9375rem 0.625rem;
  cursor: pointer;

  &:hover{
    background-color: var(--color-background__modal-navigator__modal-nav-item--hover)
  }

}

.modalNavigator h5{
  margin-left: 0.625rem;
}


/*  HERO  */

.hero{
  padding: 3.125rem 10%;
  background-color: var(--color-background__hero);
  display: flex;
  justify-content: space-between;
  color: var(--color-text__hero);
}

.hero .dinamicRoleText{
  max-width: 26.25rem;
  background-color: var(--color-background__dinamic-role-text);
  color: var(--color-text__dinamic-role-text);
  margin: 1.25rem 0;
  padding: 0.625rem 1.25rem;
}

.hero .dinamicRoleText p{
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

#dinamicLabel {
  font-weight: bold;
  color: var(--color-text__dinamic-label);
  font-size: 1.5rem;
}

.cursor {
  display: inline-block;
  background-color: var(--color-background__dinamic-role-text__cursor);
  animation: blinker 800ms infinite;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
	0% { background-color: var(--color-background__dinamic-role-text__cursor--keyframe1); }
	50% { background-color: transparent; }
	100% { background-color: var(--color-background__dinamic-role-text__cursor--keyframe3); }
}

.hero .commandInfo p{
  font-weight: bold;
  font-size: 1.25rem;
}

.hero .commandInfo{
  cursor: pointer;
  padding: 0.0625rem 0.625rem;
  border-radius: 0.3125rem;
  transition: all .3s ease;

  &:hover{
    background-color: var(--color-background__command-info--hover)
  }
}

.hero .secondColumn{
  flex-grow: 1;
}

.hero figure{
  max-width: 18.75rem;
  margin-left: auto;
}

.hero figure img{
  width: 100%;
  border-radius: 50%;
}




/*  LATESTS ARTICLES  */

.latestsArticles{
  padding-top: 1.875rem ;
  padding-bottom: 5.625rem;
  background-color: var(--color-background__latests-articles);
}

.latestsArticles .articlesContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3%;
}

.latestsArticles .blogPost{
  max-width: 45%;
  margin: 0.625rem 0;
  padding: 1.25rem;
  cursor: pointer;
  transition: all .3s ease;
}

.latestsArticles .blogPost:hover{
  background-color: var(--color-background__blog-post--hover);
}

.latestsArticles .blogPost h4{
  transition: all .3s ease;
}

.latestsArticles .blogPost:hover h4{
  color: var(--color-text__blog-post--hover__h4);
}

.latestsArticles button.loadMoreBtn{
  display: block;
  margin: 1.25rem auto 0 auto;
}



/*  ABOUT ME  */

.aboutMe{
  background-color: var(--color-background__about-me);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}


/*  PROJECTS  */

.projects{
  background-color: var(--color-background__projects);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.projects .projectsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.projects .projectCard{
  width: auto;
  margin: 0.625rem 0;
  min-width: 300px;
  height: 12.5rem;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  cursor: pointer;
}

.projectCard .projectDetails{
  color: var(--color-text__project-details);
  position: absolute;
  z-index: 20;
  transform: translateX(100%);
  transition: transform .6s ease;
  height: 100%;
  width: 100%;
  background-color: var(--color-background__project-details);
  padding: 1.25rem;
}

.projects .projectCard:hover .projectDetails{
  transform: translate(0%);
}

.projects .projectCard .projectCardTransition{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: var(--color-background__project-card--transition);
  transform: translateX(100%);
  transition: all .4s ease-out;
}

.projects .projectCard:hover .projectCardTransition{
  transform: translate(0%);
}


.projects .projectCard h3{
  position: absolute;
  z-index: 2;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--color-text__project-card__h3);
  background-color: var(--color-background__project-card__h3);
  backdrop-filter: blur(2px);
}

.projects .projectCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}



/*  WORK EXPERIENCE  */

.workExperience{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--color-background__experience);
}

.experienceContainer{
  width: 100%;
  height: auto;
  padding: 1.875rem 1.875rem;
  background-color: var(--color-background__experience-container);
  color: var(--color-text__experience-container);
  border: 0.125rem solid var(--color-border__experience-container);
}

.workExperience .experienceContainer .experienceNav{
  display: flex;
  gap: 1.875rem;
  margin-bottom: 1.875rem;
}

.experienceContent .experienceRoles{
  color: var(--color-text__experience__experience-roles);
  margin: 1.875rem 0;
}

.experienceContent .experienceRoles span{
  color: var(--color-text__experience__experience-roles__span);
}

.experienceContent .experienceRole{
  position: relative;
  margin-left: 1.875rem;
}

.experienceContent .experienceRole::before{
  content: '';
  position: absolute;
  top: -10%;
  left: -1.25rem;
  height: 130%;
  width: 0.125rem;
  background-color: var(--color-background__experience-role__before);
}

.experienceContent .experienceRole::after{
  content: '';
  position: absolute;
  top: 0.625rem;
  left: -1.5rem;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-background__experience-role__after);
  border-radius: 50%;
}



/*  EDUCATION  */

.education{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--color-background__education);
}

.education .educationItem{
  display: flex;
  justify-content: space-between;
}

.educationItem .eduItemData{
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.educationItem .eduItemContent{
  max-width: 80%;
  position: relative;
}

.educationItem .eduItemContent::before{
  content: '';
  position: absolute;
  top: 0;
  left: -1.75rem;
  width: 0.125rem;
  height: 100%;
  background-color: var(--color-background__education-item-content__before);
}


.educationItem:last-of-type .eduItemContent::before{
  height: 40%;
}


.educationItem .eduItemContent::after{
  content: '';
  position: absolute;
  top: 0.625rem;
  left: -2rem;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--color-background__education-item-content__after);
  border-radius: 50%;
}

.educationItem .eduItemContent p{
  line-height: 130%;
}


/*   SOCIAL BUTTONS   */

.socialButtons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 4.375rem 4.375rem 4.375rem;
  gap: 1.5625rem;
  background-color: var(--color-background__social-buttons);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.socialButton{
  background-color: var(--color-background__social-button);
  border: none;
  padding: 0;
  color: var(--color-text__social-button);
  text-align: left;
  position: relative;
  z-index: 4;
  background-color: var(--color-background__social-button);
  cursor: pointer;
}

.socialButton:hover{
  background-color: var(--color-background__social-button--hover);
}

.socialButton .socialButtonContent{
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-background__social-button-content);
  transition: transform .2s ease;
  padding: 0.9375rem;
}

.socialButton .socialButtonContent:hover{
  transform: translate(0.625rem, 0.625rem);
  text-decoration: none;
}

.socialButton::after{
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-background__social-button--shadow);
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  z-index: -2;
}

.socialButton.linkedin{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.socialButton.linkedin .socialButtonContent{
  background-color: var(--color-background__social-button--linkedin);
}

.socialButton.web{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.socialButton.web .socialButtonContent{
  background-color: var(--color-background__social-button--web);
}

.socialButton.github{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.socialButton.github .socialButtonContent{
  background-color: var(--color-background__social-button--github);
}

.socialButton.x{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.socialButton.x .socialButtonContent{
  background-color: var(--color-background__social-button--x);
}

.socialButton span{
  color: var(--color-text__social-button__span);
  font-weight: bold;
  font-size: 1.5rem;
}


/*   FORM CONTACT   */







/*  FOOTER  */


footer{
  text-align: center;
  padding: 1.875rem 10%;
  width: 100%;
  background-color: var(--color-background__footer);
}

footer p{
  font-weight: bold;
  font-size: 0.875rem;
  margin: 1.25rem 0;
  color: var(--color-text__footer);
}



/*  ------ MEDIA QUERIES ------ */

@media screen and ( width <= 850px ) {
  .articlesContainer{
    flex-direction: column;
  }

  .latestsArticles .blogPost{
    max-width: 100%;
  }

  .education .educationItem{
    flex-direction: column-reverse;
    padding: 1.25rem 2.1875rem;
  }

  .educationItem .eduItemContent::before{
    height: 170%;
  }

}

@media screen and ( width <= 750px ) {

  .heroPicture{
    display: none;
  }

}


@media screen and ( width <= 500px ) {

  header .topNav .topRightNav ul{
    display: none !important;
  }

}


/* ---- LARGER SCREENS ---- */

@media screen and ( width >= 1400px ){
  html{
    font-size: 20px;
  }
}

@media screen and ( width >= 1800px ){
  html{
    font-size: 28px;
  }
}

@media screen and ( width >= 2560px ){
  html{
    font-size: 36px;
  }
}

@media screen and ( width >= 3840px ){
  html{
    font-size: 56px;
  }
}

/* @media screen and ( width >=  ) */