<section class="about-me wrap">
  <h2>Sobre Mí</h2>
  <p>Desarrollador web junior con una especialización destacada en la parte frontend y una sólida comprensión de las mejores prácticas de diseño UX/UI. Con casi un año de experiencia profesional en el campo, respaldada por una pasión autodidacta por la programación que se remonta a mis años adolescentes. Mi formación autodidacta en el mundo de la programación me ha proporcionado una base sólida para abordar desafíos técnicos y adaptarme rápidamente a nuevas tecnologías. Anteriormente, también adquirí experiencia en el desarrollo de aplicaciones iOS, lo que me proporcionó una comprensión integral de los estándares de calidad y usabilidad en el desarrollo de software.
  </p>
</section>