---
---

<section class="education wrap">
  <h2>Educación</h2>
  <article class="education-item">
    <div class="edu-item-data">
      <span class="edu-item-location label1">Barcelona</span>
      <span class="edu-item-date">siempre</span>
    </div>
    <div class="edu-item-content">
      <h5 class="edu-item-title"><span class="yellow-bold">Autodidacta</span> — De cada trabajo, curso, compañero/a, libro, artículo, meetup o experiencia</h5>
      <p class="edu-item-description">Así es cómo he aprendido el 80% de lo que sé hoy en día. En este momento estoy aprendiendo: <span>#ReactTestingLibrary</span> <span>#Performance</span> <span>#DesignSystems</span></p>
    </div>
  </article>
  <article class="education-item">
    <div class="edu-item-data">
      <span class="edu-item-location label1">Barcelona</span>
      <span class="edu-item-date">03/24 - actualmente</span>
    </div>
    <div class="edu-item-content">
      <h5 class="edu-item-title"><span class="yellow-bold">Autodidacta</span> — De cada trabajo, curso, compañero/a, libro, artículo, meetup o experiencia</h5>
      <p class="edu-item-description">Así es cómo he aprendido el 80% de lo que sé hoy en día. En este momento estoy aprendiendo: <span>#ReactTestingLibrary</span> <span>#Performance</span> <span>#DesignSystems</span></p>
    </div>
  </article>
</section>