---
---

<section class="latests-articles wrap">
  <h2>Artículos</h2>
  <div class="articles-container">
    <article class="blog-post">
      <span>18 Oct ‘23</span>
      <h4>Usar Notion como CMS para tu sitio web</h4>
      <p>Aprenderás a usar la plataforma de Notion para poder publicar tus propias entradas sin necesidad de usar un CMS.</p>
    </article>
    <article class="blog-post">
      <span>18 Oct ‘23</span>
      <h4>Usar Notion como CMS para tu sitio web</h4>
      <p>Aprenderás a usar la plataforma de Notion para poder publicar tus propias entradas sin necesidad de usar un CMS.</p>
    </article>
    <article class="blog-post">
      <span>18 Oct ‘23</span>
      <h4>Usar Notion como CMS para tu sitio web</h4>
      <p>Aprenderás a usar la plataforma de Notion para poder publicar tus propias entradas sin necesidad de usar un CMS.</p>
    </article>
    <article class="blog-post">
      <span>18 Oct ‘23</span>
      <h4>Usar Notion como CMS para tu sitio web</h4>
      <p>Aprenderás a usar la plataforma de Notion para poder publicar tus propias entradas sin necesidad de usar un CMS.</p>
    </article>
  </div>

  <button class="load-more-btn default-button">CARGAR MÁS</button>
</section>