---
---

<section class="work-experience wrap">
  <h2>Experiencia</h2>
  <div class="experience-container">
    <nav class="experience-nav">
      <span class="tab-rounded active">Navitas</span>
      <span class="tab-rounded">Smartcities Tgn</span>
      <span class="tab-rounded">Freelancer</span>
    </nav>
    <article class="experience-content">
      <h5>NAVITAS</h5>
      <div class="experience-roles">
        <div class="experience-role">
          <p class="title-role">Desarrollador Frontend Jr.</p>
          <span class="date-role">03/2015 - 11/2015</span>
        </div>
        <div class="experience-role">
          <p class="title-role">Product Designer</p>
          <span class="date-role">03/2015 - 11/2015</span>
        </div>
      </div>
      <p class="experience-description">Lorem ipsum dolor sit amet consectetur. Mi senectus pharetra vel at ut nunc quam aliquam. Euismod accumsan vitae ornare nibh. Pellentesque euismod etiam elit placerat. Orci sollicitudin diam consectetur feugiat gravida tellus auctor.</p>
    </article>
  </div>

</section>