---
---

<footer>
  <p>Si has llegado hasta aquí, me encantaría que me devolvieras un "Hola", escribiéndome un <a href="https://x.com/DCuetoMe" target="_blank">tweet</a>, o enviándome un <a href="#" target="_blank">email</a>.</p>
  <p>&copy; 2024 — Web app diseñada y programada por <a href="#" target="_blank">Daniel Cueto</a> usando Angular.</p>
</footer>

<style>
  footer {
    padding: 3rem 0;
    text-align: center;
    font-size: .9rem;
  }
</style>