---
---

<section class="social-buttons wrap">
  <button class="social-button linkedin">
    <a class="social-button-content" href="https://www.linkedin.com/in/dcuetome/" target="_blank">
      <span class="social-button-text">LinkedIn</span>
      <i class="social-button-arrow"></i>
    </a>
  </button>
  <button class="social-button web">
    <a class="social-button-content" href="https://dcueto.me/" target="_blank">
      <span class="social-button-text">Dev.io</span>
      <i class="social-button-arrow"></i>
    </a>
  </button>
  <button class="social-button github">
    <a class="social-button-content" href="https://github.com/DCueto" target="_blank">
      <span class="social-button-text">Github</span>
      <i class="social-button-arrow"></i>
    </a>
  </button>
  <button class="social-button x">
    <a class="social-button-content" href="https://x.com/DCuetoMe" target="_blank">
      <span class="social-button-text">X</span>
      <i class="social-button-arrow"></i>
    </a>
  </button>
</section>