---
import Main from "../layouts/Main.astro";
import Hero from "../components/Hero.astro";
import ModalNavigator from "../components/ModalNavigator.astro";
import LatestsArticles from "../components/LatestsArticles.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Education from "../components/Education.astro";
import SocialButtons from "../components/SocialButtons.astro";
import ContactMe from "../components/ContactMe.astro";
---

  <Main title="Daniel Cueto">
		<ModalNavigator></ModalNavigator>
		<Hero></Hero>
		<LatestsArticles></LatestsArticles>
		<AboutMe></AboutMe>
		<Projects></Projects>
		<WorkExperience></WorkExperience>
		<Education></Education>
	
		<aside>
			<SocialButtons></SocialButtons>
			<ContactMe></ContactMe>
		</aside>
	</Main>
