---
---

<section class="contact-me wrap">
  <h2>Contacta</h2>
  <form class="contact-form" action="">
    <div class="form-content">
      <input type="text" name="name" id="contact-name" placeholder="¿Cuál es tu nombre?">
      <input type="email" name="email" id="contact-email" placeholder="¿Cuál es tu email?">
      <div class="input-subject-container">
        <input type="text" name="asunto" id="contact-subject" placeholder="¿Cuál es tu asunto?">
      </div>
      <textarea name="message" id="contact-message" cols="30" rows="10" placeholder="Escribe tu mensaje"></textarea>
    </div>
    <div class="form-button-container">
      <button type="submit" id="contact-submit-button" class="default-button">ENVIAR</button>
    </div>
  </form>
</section>