---
const mobdalaImg = "/public/images/mobdalaImg.jpeg";
---

<section class="projects wrap">
  <h2>Proyectos</h2>
  <div class="projects-container">
    <article class="project-card">
      <h3 class="project-title">SCOREX</h3>
      <img src={mobdalaImg} alt="" class="project-img">
      <div class="project-details">
        <h4>SCOREX</h4>
        <p>Sitio web de clasificación y reseñas de videojuegos</p>
        <div class="project-tags">
          <span class="tag">React</span>
          <span class="tag">JSON Server</span>
        </div>
      </div>
      <div class="project-card-transition"></div>
    </article>
    <article class="project-card">
      <h3 class="project-title">SCOREX</h3>
      <img src={mobdalaImg} alt="" class="project-img">
      <div class="project-details">
        <h4>SCOREX</h4>
        <p>Sitio web de clasificación y reseñas de videojuegos</p>
        <div class="project-tags">
          <span class="tag">React</span>
          <span class="tag">JSON Server</span>
        </div>
      </div>
      <div class="project-card-transition"></div>
    </article>
    <article class="project-card">
      <h3 class="project-title">SCOREX</h3>
      <img src={mobdalaImg} alt="" class="project-img">
      <div class="project-details">
        <h4>SCOREX</h4>
        <p>Sitio web de clasificación y reseñas de videojuegos</p>
        <div class="project-tags">
          <span class="tag">React</span>
          <span class="tag">JSON Server</span>
        </div>
      </div>
      <div class="project-card-transition"></div>
    </article>
  </div>
</section>